@charset 'utf-8';

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f8f8f8;
}

input[type=radio]:focus,
input[type=checkbox]:focus {
  outline: none;
}

.mb-0 {margin-bottom: 0 !important;}
.mb-5 {margin-bottom: 5px !important;}
.mb-10 {margin-bottom: 10px !important;}
.mb-15 {margin-bottom: 15px !important;}

.p-0 {padding: 0 !important;}
.p-5 {padding: 5px !important;}
.p-10 {padding: 10px !important;}
.p-15 {padding: 15px !important;}

/*
 * BMI Calculator
 * --------------------------------------------------
 */

#BMI_Calculator {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

#BMI_Calculator .panel {
  margin-bottom: 0;
}

#BMI_Calculator .bmicalc-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
}

#BMI_Calculator .well {
  margin-bottom: 0;
}

#BMI_Calculator .bmicalc-result,
#BMI_Calculator .bmicalc-description {
  font-weight: bold;
}

/*
 * BMI Tables
 * --------------------------------------------------
 */

#BMI_Tables .table {
  background: #fff;
}

#BMI_Tables .table th,
#BMI_Tables .table td {
  vertical-align: middle;
}