<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Change password</h1>
    <form method="POST">
        <label>Password: </label>
        <input type="password" name="password">
        <br><br>
        <label>New Password: </label>
        <input type="password" name="newpassword">
        <br><br>
        <label>Confirm Password: </label>
        <input type="password" name="confirmpassword">
        <br><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>