<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lobster|Montserrat|PT+Sans+Caption|Playfair+Display" rel="stylesheet">
<link rel="stylesheet" href="../static/css/home.css">
<div class="box1">
    <div class="box2">
      <div class="box3 text-warning">
        <h2>Virtual Assistant</h3>
      </div>
      <div class="box4 text-white">
        <div>SERVICE</div>
        <div>ABOUT</div>
        <div>TEAM</div>
        <div>CONTRACT</div>
      </div>
    </div>
    <div class="box5 text-center text-white">
      <div class="box6">Wellcome To Out Project!</div>
      <div class="box7">How Can I Help You ?</div>
      <div class="mt-5">
          <button type="button" class="btn btn-warning btn-lg text-white"><div class="box8">TELL ME MORE</div></button>
      </div>
    </div>
  </div>
  <div class="box1-1">
    <div class="box12">
      <H1 class="font1">SERVICES</H1>
      <i class="text-muted">Which service do you want to pick ?</i>
    </div>
    <div class="box13">
      <div class="box14"></div>
    </div>
  </div>