<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
    <div class="bot-mess">
        <form method="POST">
            <label>Danh sách mục tiêu đã thêm:</label>
            <br>
            <input type="text" name="form_type" value="1" style="display:none">
            {% for item in all_lover %}
                <input type="radio" name="target" value="{{item.id}}"> 
                {{item.fullname}} - 
                {% if item.gender == 1 %}
                    Nam
                {% elif item.gender == 0 %}
                    Nu
                {% endif %}
                - {{item.age}} tuổi
                <br>
            {%endfor%}
            <button type="submit" id="chon">Chọn</button>
        </form>
    </div>
    <!-- <div class="bot-mess">
        {% for item in all_lover %}
        <div onclick="toggleDisplay('{{loop.index}}')">{{item.fullname}}</div>
            <div id="lover-{{loop.index}}" style="display:none" >{{item.age}}
            {%for it in item.like%}
                {% if it == '2' %}
                    an uong
                {% elif it == '3' %}
                    xoac
                {% endif %}
            {%endfor%}
            </div>
        {%endfor%}
    </div> -->
    <script>
        function toggleDisplay(id) {
            // console.log(id);
            
            var x = document.getElementById("lover-" + id);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
</body>
</html>