<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script type="text/javascript" src="../static/js/script.js"></script>
</head>
<body>
    <div class="container">
        <div class="col-md-12">
            <center class="p-4">
                <h1>LOVE ASSISTANT</h1>
                <small>By: Team Giải Nhất</small>
            </center>
        </div>
        {% if session['loggedin'] %}
        <div class="row">
        <div class="col-md-8 offset-md-2 chatbot">
            <div id="bot-step-1" class="bot">
                <img src="../static/image/chamhoi-icon-96.png" alt="" class="avatar mr-2">
                <div class="preload-left">
                    <img src="static/image/loading-white-d.gif" alt="" width="30%">
                </div>
                <div class="bot-step-1">
                    <div class="bot-mess">
                        <span>Xin chào, {{ session['username'] }}</span>
                        <a href="{{ url_for('logout') }}">Logout</a>
                    </div>
                    <div class="bot-mess"><span>Tôi là chuyên gia tư vấn tình yêu.<br>Hãy thêm mục tiêu mới hoặc chọn lại mục tiêu trước đó</span></div>
                </div>
            </div>
            <div id="user-step-1" class="user">
                <div class="user-step-1">
                    <span class="user-mess bg-transparent"><input type="button" id="newlover" value="Mục tiêu mới" /></span>
                    <!-- <span class="user bg-transparent"><input type="button" id="calendar" value="Calendar"></span> -->
                    <span class="user-mess bg-transparent"><input type="button" id="lover" value="Mục tiêu trước đó"></span>
                    
                </div>
                <div class="preload-right">
                    <img src="static/image/loading-white-d.gif" alt="" width="30%">
                </div>
                <img src="../static/image/male-profile.jpg" alt="" class="avatar ml-2">  
            </div>
            <div id="bot-step-2" class="bot">
                <img src="../static/image/chamhoi-icon-96.png" alt="" class="avatar mr-2" style="display:none">
                <div>
                <div id="bot-step-2-1"></div>
                <div id="bot-step-2-2"></div>
                </div>
            </div>
            <div id="bot-step-3" class="bot">
                {% if fullname != NULL %}
                    <img src="../static/image/chamhoi-icon-96.png" alt="" class="avatar mr-2">
                    <div class="bot-mess">
                        <span>Đối tượng: {{ fullname }} - {{ age }} tuổi - thích 
                        {% for like in like %}
                            {% if like == '1' %}
                                ăn uống
                            {% elif like == '2' %}
                                shopping
                            {% elif like == '3' %}
                                xoạc
                            {% endif %}
                        {%endfor%}
                        </span>
                    </div>
                {% endif %}
            </div>
            {% if fullname != NULL or target_id != NULL%}
            <div id="user-step-2" class="user">
                <span class="user-mess bg-transparent"><input type="button" id="di-dau" value="Đi đâu" /></span>
                <!-- <span class="user bg-transparent"><input type="button" id="calendar" value="Calendar"></span> -->
                <span class="user-mess bg-transparent"><input type="button" id="noi-gi" value="Nói gì"></span>
                <!-- <div class="preload-right">
                    <img src="static/image/loading-white-d.gif" alt="" width="30%">
                </div> -->
                <img src="../static/image/male-profile.jpg" alt="" class="avatar ml-2">  
            </div>
            <div id="bot-step-6" class="bot">

            </div>
            <div id="bot-step-4" class="bot" style="display:none">
                <img src="../static/image/chamhoi-icon-96.png" alt="" class="avatar mr-2">
                <div class="bot-mess">
                    {%if gender == '0' %}
                        {%if age < 24 %}
                        Tôi có gợi ý cho bạn: 
                            {%for like in like%}
                                {%if like == '1'%}
                                Nhà Hàng
                                {%elif like == '2'%}
                                Siêu Thị
                                {%elif like == '3'%}
                                Nhà Nghỉ
                                {%endif%}
                            {%endfor%}
                        {%endif%}
                    {%endif%}
                    
                    {%if gender == '0' %}
                        {%if age >= 24 %}
                            {%for like in like%}
                                {%if like == '1'%}
                                Nhà Hàng 
                                {%elif like == '2'%}
                                Siêu Thị
                                {%elif like == '3'%}
                                Nhà Nghỉ
                                {%endif%}
                            {%endfor%}
                        {%endif%}
                    {%endif%}

                    {%if gender == '1' %}
                        {%if age < 24 %}
                            {%for like in like%}
                                {%if like == '1'%}
                                Nhà Hàng
                                {%elif like == '2'%}
                                Nhà Nghỉ
                                {%elif like == '3'%}
                                Siêu Thị
                                {%endif%}
                            {%endfor%}
                        {%endif%}
                    {%endif%}

                    {%if gender == '1' %}
                        {%if age >= 24 %}
                            {%for like in like%}
                                {%if like == '1'%}
                                <a>L4</a>
                                {%elif like == '2'%}
                                <a>L5</a>
                                {%elif like == '3'%}
                                <A>L6</A>
                                {%endif%}
                            {%endfor%}
                        {%endif%}
                    {%endif%}
                </div>
            </div>
            <div id="user-step-3" class="user" style="display:none">
                    {%if gender == '0' %}
                        {%if age < 24 %}
                            {%for like in like%}
                                {%if like == '1'%}
                                <span class="user-mess bg-transparent"><input type="button" id="nha-hang" value="Nhà Hàng" /></span>
                                {%elif like == '2'%}
                                <span class="user-mess bg-transparent"><input type="button" id="sieu-thi" value="Siêu Thị" /></span>
                                {%elif like == '3'%}
                                <span class="user-mess bg-transparent"><input type="button" id="nha-nghi" value="Nhà Nghỉ" /></span>
                                {%endif%}
                            {%endfor%}
                        {%endif%}
                    {%endif%}
                    
                    {%if gender == '0' %}
                        {%if age >= 24 %}
                            {%for like in like%}
                                {%if like == '1'%}
                                <span class="user-mess bg-transparent"><input type="button" id="nha-hang" value="Nhà Hàng" /></span>
                                {%elif like == '2'%}
                                <span class="user-mess bg-transparent"><input type="button" id="sieu-thi" value="Siêu Thị" /></span>                                
                                {%elif like == '3'%}
                                <span class="user-mess bg-transparent"><input type="button" id="nha-nghi" value="Nhà Nghỉ" /></span>
                                {%endif%}
                            {%endfor%}
                        {%endif%}
                    {%endif%}

                    {%if gender == '1' %}
                        {%if age < 24 %}
                            {%for like in like%}
                                {%if like == '1'%}
                                <span class="user-mess bg-transparent"><input type="button" id="nha-hang" value="Nhà Hàng" /></span>
                                {%elif like == '2'%}
                                <span class="user-mess bg-transparent"><input type="button" id="sieu-thi" value="Siêu Thị" /></span>
                                {%elif like == '3'%}
                                <span class="user-mess bg-transparent"><input type="button" id="nha-nghi" value="Nhà Nghỉ" /></span>
                                {%endif%}
                            {%endfor%}
                        {%endif%}
                    {%endif%}

                    {%if gender == '1' %}
                        {%if age >= 24 %}
                            {%for like in like%}
                                {%if like == '1'%}
                                <span class="user-mess bg-transparent"><input type="button" id="nha-hang" value="Nhà Hàng" /></span>
                                {%elif like == '2'%}
                                <span class="user-mess bg-transparent"><input type="button" id="sieu-thi" value="Siêu Thị" /></span>
                                {%elif like == '3'%}
                                <span class="user-mess bg-transparent"><input type="button" id="nha-nghi" value="Nhà Nghỉ" /></span>
                                {%endif%}
                            {%endfor%}
                        {%endif%}
                    {%endif%}
                <img src="../static/image/male-profile.jpg" alt="" class="avatar ml-2">
            </div>
            <div id="bot-step-5" class="bot">
                
            </div>
            {% endif %}
        {% else %}
        <div id="bot-step-1" class="bot">
            <img src="../static/image/chamhoi-icon-96.png" alt="" class="avatar mr-2">
            <div class="bot">
                <h3>Xin chào! Tôi là Bot. Bạn hãy </h3>
                <span class="user-mess bg-transparent"><a href="{{ url_for('login') }}">Dang nhap</a></span>
                <span class="user-mess bg-transparent"><a href="{{ url_for('register') }}">Dang ky</a></span>
            </div>
        </div>
        {% endif %}
        </div>
    </div>
    </div>
    {% if fullname != NULL or target_id != NULL %}
        <style>
            .preload-left, .preload-right{display: none}
        </style>
    {% else %}
        <style>
            .bot-step-1, .user-step-1, .preload-right {display:none;}
            .preload-right {text-align: right}
            .preload-left {text-align:left}
        </style>
        <script>
        $(function() {
            $(".preload-left").fadeOut(1000, function() {
                $(".bot-step-1").fadeIn(500);
                $(".preload-right").fadeIn(500);
                $(".preload-right").fadeOut(1000, function() {
                    $(".user-step-1").fadeIn(500);
                });
            });
        });
        </script>
    {% endif %}
</body>
</html>