<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lover</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="d-flex p-3">
        <!-- <img src="../static/image/chamhoi-icon-96.png" alt="" class="avatar mr-4"> -->
        <form method="POST" onsubmit="get_action()" class="bot-mess">
            <table>
                <tr>
                    <td></td>
                    <td>
                        <input type="radio" name="gender" value="1" checked> Nam
                        <input type="radio" name="gender" value="0"> Nữ
                    </td>
                </tr>
                <tr>
                    <td><label>Tên:</label></td>
                    <td><input type="text" name="fullname"></td>
                </tr>
                <tr>
                    <td><label>DOB:</label></td>
                    <td><input type="text" name="date" placeholder="tháng/ngày"></td>
                    <td><input type="text" name="year" placeholder="năm"></td>
                </tr>
                <tr>
                    <td><label>Địa chỉ:</label></td>
                    <td><select name="city" id="city">
                        <option value="1">Hanoi</option>
                        <option value="2">Da nang</option>
                        <option value="3">Ho Chi Minh</option>
                    </select></td>
                </tr>
                <tr>
                    <td><label>Sở thích:</label></td>
                    <td>
                        <input type="checkbox" name="like" value="1"> An uong <br>
                        <input type="checkbox" name="like" value="2"> Shopping <br>
                        <input type="checkbox" name="like" value="3"> Xoac <br>
                    </td>
                </tr>
                <tr>
                    <td><label>Mô tả:</label></td>
                    <!-- <td><input type="text" name="description"></td> -->
                    <td><textarea name="description" id="description" cols="20" rows="5"></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="submit">Hoàn tất</button></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>